* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #2BCBE8, #40B5F6); /* Background Gradient */
    padding: 60px 24px;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 125px;
    height: 125px;
    border: 4px solid red; /* Image Border */
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0 40px;
    padding-right: 12px;
}

.location img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.location span {
    color: #fff;
    font-weight: 600;
    letter-spacing: .3px;
    font-size: 16px;
    display: block;
    padding-top: 8px;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.3);
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button {
    width: 100%;
    padding: 12px;
    background: #fff;
    color: #000;
    font-size: 24px;
    border: none;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    border-radius: 99px;
    margin-bottom: 32px;
    box-shadow: 0px 5px 4px rgba(0,0,0,0.5);
    transition: .3s ease-in-out;
    position: relative;
    top: 0;
}

.button:hover {
    box-shadow: 0px 10px 4px rgba(0,0,0,0.5);
    top: -5px;
}

.button:first-of-type {
    animation: 1s bounce infinite linear;
}

@keyframes bounce {
    0% {
        top: 0;
    }
    50% {
        top: -10px;
    }
    100% {
        top: 0;
    }
}